:root
    --color-black: black
    --color-white: white
    --color-grey: rgba(180, 179, 182, 1)
    --color-blue: rgba(31, 80, 255, 1)
    
    --font-poppins: 'Poppins'
    --font-inter: 'Inter'
    --font-montserrat: 'Montserrat'
*
    box-sizing: border-box
    text-align: inherit
    
body
    background-color: var(--color-black)
    color: var(--color-white)
    margin: unset
    padding: unset

input, textarea, select, table
    appearance: none
    -moz-appearance: none
    -webkit-appearance: none
    -ms-progress-appearance: none 
    background-color: unset
    border: unset
    color: white
    &:focus
        border: unset
        outline-width: 0
    &:placeholder
        color: rgba(147, 146, 159, 1)
    
h1, h2, h3, h4, p
    margin: unset

h1
    letter-spacing: -0.01em
    color: var(--color-white)
    margin-bottom: 24px
    @extend .font
    @extend .font__size--72
    @extend .font__weight--600
    @extend .font__height--110

h2
    letter-spacing: -0.01em
    color: var(--color-white)
    margin-bottom: 24px
    @extend .font
    @extend .font__size--40
    @extend .font__weight--600
    @extend .font__height--110

h3
    letter-spacing: -0.01em
    color: var(--color-white)
    margin-bottom: 24px
    @extend .font
    @extend .font__size--24
    @extend .font__weight--600
    @extend .font__height--180

h4
    letter-spacing: -0.01em
    color: var(--color-white)
    margin-bottom: 24px
    @extend .font
    @extend .font__size--18
    @extend .font__weight--600
    @extend .font__height--27

p  
    color: var(--color-grey)
    @extend .font
    @extend .font__size--18
    @extend .font__height--160

button
    @extend .button

.cursor
    cursor: pointer

.flex
    display: flex
    &__column
        flex-direction: column
    &__column-reverse
        flex-direction: column-reverse
    &__row
        flex-direction: row
    &__row-reverse
        flex-direction: row-reverse

    &__align
        &--center
            align-items: center
        &--start
            align-items: flex-start
        &--end
            align-items: flex-end
        &--space
            align-items: space-between
        
    &__justify
        &--center
            justify-content: center
        &--start
            justify-content: flex-start
        &--end
            justify-content: flex-end
        &--space
            justify-content: space-between