.font
    font-family: var(--font-poppins)
    &__size
        &--10
            font-size: 10px
        &--12
            font-size: 12px
        &--14
            font-size: 14px
        &--16
            font-size: 16px
        &--18
            font-size: 18px
        &--20
            font-size: 20px
        &--24
            font-size: 24px
        &--40
            font-size: 40px
        &--48
            font-size: 48px
        &--72
            font-size: 72px

    &__weight
        &--300
            font-weight: 300
        &--400
            font-weight: 400
        &--500
            font-weight: 500
        &--600
            font-weight: 600
        &--700
            font-weight: 700
    
    &__height
        &--15
            line-height: 15px
        &--18
            line-height: 18px
        &--21
            line-height: 21px
        &--24
            line-height: 24px
        &--27
            line-height: 27px
        &--110 
            line-height: 110%
        &--160
            line-height: 160%
        &--180
            line-height: 180%

    &__align
        &--center
            text-align: center
        &--left
            text-align: left
        &--right
            text-align: right
