.section
	width: 100%
	position: relative
	padding-top: 80px
	padding-bottom: 80px
	&--no-bottom
		margin-bottom: unset
	&__img
		background-color: whitesmoke
		max-width: 498px
		min-height: 497px
		width: 100%
		height: 100%
		object-fit: contain
	&--left-illus
		.container
			@extend .flex
			@extend .flex__row
			@extend .flex__align--center
			.section__img
				margin-right: 100px
	&--right-illus
		.container
			@extend .flex
			@extend .flex__row-reverse
			@extend .flex__align--center
			.section__img
				margin-left: 100px
	&--center
		.container
			@extend .flex
			@extend .flex__column
			@extend .flex__align--center
			@extend .font__align--center
			.section__img
				margin-top: 76px
	&--dashboard
		@extend .flex
		@extend .flex__row
		align-items: stretch

.container
	max-width: 1440px
	margin: auto
	position: relative
	width: 100%
	padding: 0 135px
	&--side
		max-width: 275px
		background-color: #1B1E2E
		padding: 24px 32px
		margin: unset
	&--main
		max-width: 100%
		flex:1
		padding: 24px 32px
		background-color: #11131E
		margin: unset

.horizontal-gap
	width: 100%
	height: 30px

.navbar
	padding: 33px 0
	@extend .section
	@extend .section--no-bottom

.footer
	padding: 40px 0
	background-color: rgba(19, 19, 19, 1)
	@extend .section
	.container
		@extend .flex
		@extend .flex__row
		@extend .flex__align--center
		@extend .flex__justify--space
	&__copy
		color: var(--color-grey)
		@extend .font
		@extend .font__size--18
		@extend .font__height--160
	&__social-wrap
		@extend .flex
		@extend .flex__row
		@extend .flex__align--center
		@extend .flex__justify--end
	&__social
		width: 40px
		height: 40px
		margin-left: 20px
		background-color: rgba(255, 255, 255, 0.3)
		backdrop-filter: blur(8px)
		border-radius: 10px
		padding: 12px
		&__img
			width: 16px
			height: 16px
			object-fit: contain
		&:first-child
			margin-left: unset
		&:hover
			background-color: #36ADE1

.logo 
	&__img
		object-fit: contain
		width: 56px
		height: 56px
	&--typo
		.logo__img
			object-fit: contain
			width: 141px
			height: 32px

.button
	appearance: none
	-moz-appearance: none
	-webkit-appearance: none
	-ms-progress-appearance: none
	border: 1.5px solid transparent
	letter-spacing: -0.01em
	color: var(--color-white)
	background-color: var(--color-blue)
	border-radius: 100px
	padding: 16px 24px
	transition: all 150ms ease
	font-family: var(--font-inter)
	@extend .cursor
	@extend .font
	@extend .font__size--18
	@extend .font__weight--500
	@extend .font__height--21
	&__less-radius
		border-radius: 8px !important
	&__border
		background-color: transparent
		border: 1.5px solid var(--color-blue)
		color: var(--color-blue)
		&:hover
			background-color: var(--color-blue)
			color: var(--color-white)
			border: 1.5px solid transparent
	&:hover
		background-color: transparent
		color: var(--color-blue)
		border: 1.5px solid var(--color-blue)
	&--shadow
		box-shadow: 0px 12px 40px rgba(31, 80, 255, 0.25)
	&--disabled
		background-color: rgba(59, 70, 111, 1)
		box-shadow: unset
		color: rgba(137, 144, 168, 1)
		&:hover
			color: rgba(137, 144, 168, 1)
			background-color: rgba(59, 70, 111, 1)
			border: 1.5px solid transparent
	&--right-icon
		@extend .flex
		@extend .flex__row
		@extend .flex__align--center
		img
			width: 20px
			height: 20px
			margin-left: 8px
			object-fit: contain
		.button__icon-active
			display: none
		.button__icon-deactive
			display: block
		&:hover
			.button__icon-active
				display: block
			.button__icon-deactive
				display: none
	&--left-icon
		@extend .button--right-icon 
		@extend .flex__row-reverse
		img
			margin-left: unset !important
			margin-right: 8px !important
	&--side-nav
		@extend .flex
		@extend .flex__align--center
		@extend .flex__justify--end
		width: 100%
		height: 61px
		border-radius: 12px
		background-color: transparent
		color: white
		border: unset
		margin-bottom: 2px
		.button__icon-wrap
			margin-right: 10.33px
		&:hover, &.active
			background-color: #24273D
			border: unset
			color: white


.box-stat
	width: 100%
	background: radial-gradient(255.99% 255.99% at 36.07% 79.59%, rgba(7, 23, 77, 0.6) 0%, rgba(12, 40, 139, 0.6) 100%)
	border-radius: 40px
	height: 237px
	@extend .flex
	@extend .flex__row
	@extend .flex__align--center
	@extend .flex__justify--center
	&__wrapper
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-template-rows: 1fr
		grid-column-gap: 208px
		grid-row-gap: 0px
	&__item
		@extend .flex
		@extend .flex__column
		@extend .flex__justify--center
		&__label
			letter-spacing: -0.01em
			color: var(--color-white)
			margin-bottom: 8px
			@extend .font
			@extend .font__size--48
			@extend .font__weight--600
			@extend .font__height--110
		&__value
			color: var(--color-grey)
			@extend .font
			@extend .font__size--20
			@extend .font__height--160
		&:first-child + .box-stat__item
			position: relative
			&::after
				content: ''
				position: absolute
				width: 2px
				height: 93px
				background-color: rgba(57, 65, 100, 1)
				right: -75%
			&::before
				content: ''
				position: absolute
				width: 2px
				height: 93px
				background-color: rgba(57, 65, 100, 1)
				left: -75%


.team-slider 
	width: 100%
	&__item
		@extend .flex
		@extend .flex__column
		@extend .flex__align--center
		&__img
			width: 260px
			height: 260px
			object-fit: cover
			overflow: hidden
			border-radius: 50%
			background-color: whitesmoke
			margin-bottom: 16px
		&__name
			@extend .font
			@extend .font__size--24
			@extend .font__weight--600
			@extend .font__height--180
			@extend .font__align--center
			font-family: var(--font-montserrat)
		&__title
			color: var(--color-blue)
			@extend .font
			@extend .font__size--18
			@extend .font__weight--500
			@extend .font__height--180
			@extend .font__align--center
			font-family: var(--font-montserrat)

.rocket-card
	@extend .flex
	@extend .flex__column
	@extend .flex__align--center
	padding: 16px 15px
	background: #24273D
	border-radius: 16px
	@extend .font__align--center
	margin-top: 40px
	&__img
		transform: rotate(45deg)
		margin-top: -95.8px
		margin-bottom: -36px
	&__detail
		color: #BEBFC3
		margin: 8px 0
		@extend .font
		@extend .font__size--14
		@extend .font__height--21
	&__button
		@extend .button__less-radius
		@extend .font
		@extend .font__size--14
		@extend .font__height--21
		@extend .font__weight--500


.dashboard-card
	padding: 32px
	background-color: #1B1E2E
	border-radius: 12px
	&--pattern
		@extend .dashboard-card
		background: url('assets/bg-pattern-dot.png') no-repeat, #202B69 
		background-position: -100% 50%

.input-box
	background-color: #1B1E2E
	border-radius: 8px
	padding: 12px 16px
	max-width: 580px
	min-height: 48px
	@extend .flex
	@extend .flex__row
	@extend .flex__align--center
	@extend .font
	@extend .font__size--14
	@extend .font__height--21
	position: relative
	&--select
		@extend .input-box
		&::after
			content:''
			background: url('assets/select-caret.svg') no-repeat
			width: 20px 
			height: 20px
			position: absolute
			right: 24px
			z-index: 0
	&--file
		@extend .input-box
		@extend .cursor
		min-height: 159px
		min-width: 274px
	&__input
		flex: 1
		z-index: 2
		position: relative
		@extend .font
		@extend .font__size--16
		@extend .font__height--24
		color: white
		&:placeholder
			color: #93929F
	&__area
		@extend .input-box__input
		min-height: 280px
	&__icon
		margin-right: 10px
		width: 24px
		height: 24px
	&--border
		border: 1px solid #272937
	&__file-placeholder
		@extend .flex 
		@extend .flex__column 
		@extend .flex__align--center 
		flex: 1
		&__label
			@extend .font
			@extend .font__align--center
			@extend .font__weight--500
			@extend .font__size--12
			@extend .font__height--18
			letter-spacing: 0.01em
			color: #93929F
			margin-top: 16px
			span:last-child
				@extend .font__weight--400
				@extend .font__size--10
				@extend .font__height--15
	&__file
		visibility: hidden
		position: absolute
		z-index: -1


.dashboard-table
	width: 100%
	border: 0
	&__title
		color: #838991
		@extend .font
		@extend .font__size--14
		@extend .font__height--21
	&__value
		@extend .font
		@extend .font__size--16
		@extend .font__height--24
	&__item
		height: 48px
	&__head
		height: 37px
	&--skin
		@extend .dashboard-table
		.dashboard-table__item
			background: #1B1E2E
			border-radius: 12px

.dropdown
	position: relative
	border: 1px solid #444452
	box-sizing: border-box
	border-radius: 8px
	padding: 8px 16px
	@extend .flex
	@extend .flex__row
	@extend .flex__align--center
	@extend .cursor
	&__title
		@extend .font
		@extend .font__size--14
		@extend .font__height--21
		position: relative
		padding-right: 28px
		&::after
			content:''
			position: absolute
			width: 20px
			height: 20px
			background: url('assets/dropdown-caret.svg') no-repeat
			right: 0
			transform: rotate(0deg)
			transition: all 150ms ease
	&__body 
		display: none
		@extend .font
		@extend .font__size--14
		@extend .font__height--21
		position: absolute
		top: 100%
		width: 100%
		right: 0
		background-color: white
		border: 1px solid #272937
		color: #1b1e2e
		padding: 20px 10px
		border-radius: 8px
		user-select: none
		&__item
			padding: 4px 10px
			border-radius: 8px
			&:hover
				text-decoration: underline
	&.active
		.dropdown__body 
			display: block
		.dropdown__title::after
			transform: rotate(180deg)



