doctype html
html(lang="en-GB")
	head
		meta(charset="utf-8")
		title Metafense UI Kit

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		link(rel="stylesheet" href="main.css")
	body
		.navbar
			.container.flex.flex__row.flex__align--center.flex__justify--space
				a(href="").logo
					img(src="assets/logo.svg", alt="").logo__img
				a(href="").logo--typo
					img(src="assets/logo--typo.svg", alt="").logo__img

		.section 
			.container
				h1 Heading 1
				p when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

		.section 
			.container
				h2 Heading 2
				p when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

		.section 
			.container
				h3 Heading 3
				p when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

		.section 
			.container
				h4 Heading 4
				p when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		
		.section.section--left-illus
			.container
				img(src="", alt="").section__img
				div
					h2 Section with left illustration
					p when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		
		.section.section--right-illus
			.container
				img(src="", alt="").section__img
				div
					h2 Section with left illustration
					p when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		
		.section.section--center
			.container
				h2 Section with center illustration
				p when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				img(src="", alt="").section__img


		.section.section--center
			.container 
				h2 Status box
				.box-stat
					.box-stat__wrapper
						.box-stat__item
							.box-stat__item__label 1500+
							.box-stat__item__value User Active
						.box-stat__item
							.box-stat__item__label 450+
							.box-stat__item__value User Active
						.box-stat__item
							.box-stat__item__label 300+
							.box-stat__item__value User Active

		.section
			.container 
				h2 Button list
				div.flex.flex__row.flex__justify--space
					button Button default
					button.button--disabled Button disabled
					button.button__less-radius Button less radius
					button.button__less-radius.button--disabled Button less radius disabled
				.horizontal-gap
				div.flex.flex__row.flex__justify--space
					button.button__border Button border
					button.button__border.button__less-radius Button border less radius
					button.button--shadow Button with shadow
					button.button--right-icon 
						.button__label Button right icon
						.button__icon-wrap
							img(src="assets/plus-active.svg", alt="").button__icon-active
							img(src="assets/plus-deactive.svg", alt="").button__icon-deactive
					button.button--left-icon 
						.button__label Button left icon
						.button__icon-wrap
							img(src="assets/plus-active.svg", alt="").button__icon-active
							img(src="assets/plus-deactive.svg", alt="").button__icon-deactive
		
		.section.section--center 
			.container 
				h2 Team slider
				.team-slider 
					.team-slider__item-wrap
						.team-slider__item 
							img(src="", alt="").team-slider__item__img
							.team-slider__item__name Felix
							.team-slider__item__title Head Developer
					.team-slider__item-wrap
						.team-slider__item 
							img(src="", alt="").team-slider__item__img
							.team-slider__item__name Michael
							.team-slider__item__title Market Analyst
					.team-slider__item-wrap
						.team-slider__item 
							img(src="", alt="").team-slider__item__img
							.team-slider__item__name Robert
							.team-slider__item__title Risk Manager
					.team-slider__item-wrap
						.team-slider__item 
							img(src="", alt="").team-slider__item__img
							.team-slider__item__name Mr 1
							.team-slider__item__title Head Developer
					.team-slider__item-wrap
						.team-slider__item 
							img(src="", alt="").team-slider__item__img
							.team-slider__item__name Mr 2
							.team-slider__item__title Market Analyst
					.team-slider__item-wrap
						.team-slider__item 
							img(src="", alt="").team-slider__item__img
							.team-slider__item__name Mr 3
							.team-slider__item__title Risk Manager


		.section.section--dashboard 
			.container.container--side
				h3 Side nav dashboard
				.horizontal-gap
				button.button--side-nav.button--left-icon.active
					.button__label Side button
					.button__icon-wrap
						img(src="assets/plus-active.svg", alt="").button__icon-active
						img(src="assets/plus-deactive.svg", alt="").button__icon-deactive
				button.button--side-nav.button--left-icon
					.button__label Side button
					.button__icon-wrap
						img(src="assets/plus-active.svg", alt="").button__icon-active
						img(src="assets/plus-deactive.svg", alt="").button__icon-deactive

				.rocket-card 
					img(src="assets/rocket-img.svg", alt="").rocket-card__img
					p.rocket-card__detail Tortor quis cursus temp, sagittis mi enim semper pharetra
					button.rocket-card__button Upgrade Premium
			.container.container--main
				h3 Main container dashboard
				
				.horizontal-gap
				.dashboard-card 
					h4 Dashboard card default
				
				.horizontal-gap
				.dashboard-card--pattern
					h4 Dashboard card with pattern
				
				.horizontal-gap
				h4 Basic input
				.input-box
					input(type="text" placeholder="Search something...").input-box__input
				
				.horizontal-gap
				h4 Seachbox
				.input-box 
					img(src="assets/search-icon.svg", alt="").input-box__icon
					input(type="text" placeholder="Search something...").input-box__input
				
				.horizontal-gap
				h4 Select input
				.input-box--select
					select(name="").input-box__input
						option(value="") Select me 
				
				.horizontal-gap
				h4 Date input
				.input-box
					input(type="date").input-box__input
				
				.horizontal-gap
				h4 Textarea
				.input-box
					textarea(placeholder="Type me").input-box__area
				
				.horizontal-gap
				h4 Input file
				.input-box--file
					.input-box__file-placeholder(onclick="openFile()")
						img(src="assets/file-placeholder.svg", alt="").input-box__file-placeholder__img
						.input-box__file-placeholder__label
							span Add project image here
							br
							span Maximum upload file size: 2MB
					input(type="file").input-box__file

				.horizontal-gap
				.dashboard-card 
					.flex.flex__row.flex__justify--space
						h4 Dashboard table 
						.dropdown
							.dropdown__title(onclick="openDropdown()") current
							.dropdown__body 
								.dropdown__body__item option
								.dropdown__body__item option
								.dropdown__body__item option
					.horizontal-gap
					table.dashboard-table
						thead.dashboard-table__head 
							tr 
								td.dashboard-table__title Head
								td.dashboard-table__title Head
								td.dashboard-table__title Head
						tbody 
							tr.dashboard-table__item 
								td.dashboard-table__value value 
								td.dashboard-table__value 0x146c2c0e2b919c4ccdf834098f9fde40b2159ac699hsjr4530dd 
								td.dashboard-table__value value 
							tr.dashboard-table__item  
								td.dashboard-table__value value 
								td.dashboard-table__value 0x146c2c0e2b919c4ccdf834098f9fde40b2159ac699hsjr4530dd 
								td.dashboard-table__value value 
							tr.dashboard-table__item  
								td.dashboard-table__value value 
								td.dashboard-table__value 0x146c2c0e2b919c4ccdf834098f9fde40b2159ac699hsjr4530dd 
								td.dashboard-table__value value 
				
				//- .horizontal-gap
				//- h4 Dashboard table skin 
				//- .horizontal-gap
				//- table.dashboard-table--skin
				//- 	thead.dashboard-table__head 
				//- 		tr 
				//- 			td.dashboard-table__title Head
				//- 			td.dashboard-table__title Head
				//- 			td.dashboard-table__title Head
				//- 	tbody 
				//- 		tr.dashboard-table__item 
				//- 			td.dashboard-table__value value 
				//- 			td.dashboard-table__value 0x146c2c0e2b919c4ccdf834098f9fde40b2159ac699hsjr4530dd 
				//- 			td.dashboard-table__value value 
				//- 		tr.dashboard-table__item  
				//- 			td.dashboard-table__value value 
				//- 			td.dashboard-table__value 0x146c2c0e2b919c4ccdf834098f9fde40b2159ac699hsjr4530dd 
				//- 			td.dashboard-table__value value 
				//- 		tr.dashboard-table__item  
				//- 			td.dashboard-table__value value 
				//- 			td.dashboard-table__value 0x146c2c0e2b919c4ccdf834098f9fde40b2159ac699hsjr4530dd 
				//- 			td.dashboard-table__value value 



		.footer
			.container
				.footer__copy Copyright © 2022 Metafense
				.footer__social-wrap 
					a(href="").footer__social
						img(src="assets/twt-icon.svg", alt="").footer__social__img
					a(href="").footer__social
						img(src="assets/ig-icon.svg", alt="").footer__social__img
					a(href="").footer__social
						img(src="assets/tele-icon.svg", alt="").footer__social__img
					a(href="").footer__social
						img(src="assets/dc-icon.svg", alt="").footer__social__img
					a(href="").footer__social
						img(src="assets/yt-icon.svg", alt="").footer__social__img


		script(src="js/index.js")


